<div class="holder">
  <iframe src="http://localhost:5601/app/kibana#/dashboard/Demo-Dashboard?embed=true&_g=(filters%3A!())"></iframe>
  <style media="screen">
  html {
    background-image: image();
  }
    iframe {
      height: 800px;
      width: 1000px;
    }
  </style>
</div>
