<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>PGA Tour API</title>
</head>
<body>

  <header>
    <span id="title"><b>PGA Tour API</b></span>
    <nav>
      <li><a href="http://localhost:5601/app/kibana#/dashboard/Demo-Dashboard?_g=(filters:!())&_a=(filters:!(),options:(darkTheme:!f),panels:!((col:2,id:Average-Tour-Player-Earnings,panelIndex:4,row:1,size_x:9,size_y:4,type:visualization),(col:2,id:Tiger-Woods-Earnings,panelIndex:6,row:5,size_x:9,size_y:5,type:visualization)),query:(query_string:(analyze_wildcard:!t,query:'*')),title:'Demo%20Dashboard',uiState:(P-4:(vis:(legendOpen:!f)),P-6:(vis:(colors:('Sum%20of%20MONEY':%23447EBC),legendOpen:!f))))">Analytics</a></li>
      <li><a href="http://localhost:4000/about">About</a></li>
    </nav>
  </header>
  <main>
    <div class="urlSelect">
      <select class="mainCategory" name="Hello">
        <option value="">Choose Category</option>
        <option value="official_money">Offical Money List</option>
        <option value="longest_drives">Longest Drives</option>
        <option value="sg:_tee-to-green">Strokes Gained Tee to Green</option>
      </select>
      <button type="button" href='#' class="previewButton" name="button">Preview JSON Results</button>
    </div>

    <div class="previewLink preview"><span>www.robztourapi.com/api/example</span></div>

    <div class="sampleData preview">
      <h2>JSON Preview</h2>
      <p>
      {
        <div class="sampledataTitle">
          {</br>
            "_index": "official_money",</br>
            "_type": "stats",</br>
            "_id": "0",</br>
            "_score": 1,</br>
            "_source": {</br>
        </div>
          <div class="sampleDataSubTitle">
          </div>
            <div class="dataSampleBody">
              "_index": "official_money",</br>
              "_type": "stats",</br>
              "_id": "0",</br>
              "_score": 1,</br>
              "_source": {</br>
              "YEAR": 2017,</br>
              "RANK_THIS_WEEK": 1,</br>
              "RANK_LAST_WEEK": 1,</br>
              "PLAYER_NAME": "Hideki Matsuyama",</br>
              "EVENTS": 2,</br>
              "MONEY": 2376000,</br>
              "YTD_VICTORIES": 1</br>
          </div>
          <div class="sampleDataSubTitle">
            },</br>
            .</br>
            .</br>
            .</br>
          </div>
    </p>

    </div>

  </main>
</body>
</html>
